body {
  color: #ffffffee;
  background-color: #2e2e2e;
  font-size: 18px;
  font-family: sans-serif;
}

container {
  padding: 10px 0;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

table {
  margin: 20px auto;
  font-size: 20px;
  width: 100%;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #36a3ebd6;
}

td {
  text-align: center;
}

td:first {
  text-align: left !important;
}

tr:nth-of-type(even) {
  background-color: #6f6f6f8d;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form-container {
  display: grid;

  label,
  div {
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
  }
}

input[type="text"],
button {
  font-size: 24px;
  color: white;
  border: solid rgba(255, 255, 255, 0) 3px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

button {
  background-color: #36a2eb;
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

label {
  font-size: 18px;
}


input:focus,
button:hover {
  border: solid rgba(255, 255, 255, 0.75) 3px;
  cursor: pointer;
}

button:disabled {
  border: 0;
  cursor: not-allowed;
}

#myChart {
  margin-top: 20px;
}

.button-group {
  display: flex;
  #calculate {
    margin-right: 10px;
  }
  #csv {
    margin-left: 10px;
  }
}